@model IEnumerable<ParkLookup.ViewModels.RatingCountGroup>
           
@{
    ViewBag.Title = "Rating Statistics";
}

<h2>Rating Statistics</h2>

<table>
    <tr>
        <th>
            Park
        </th>
        <th>
            # Of Ratings
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParkName)
        </td>
        <td>
            @item.RatingCount
        </td>
    </tr>
}


</table>

<hr>
<button class="bottom">@Html.ActionLink("Go To Search", "Sort")</button>